:root{
    --hero-text-color: #F7F7FF;
    --gradient-color: rgba(0, 0, 0, 0.5);
    --button-color: rgba(196, 107, 174, 0.8);
    --background-color: #C6C5B9;
    --highlight-color: #279AF1;
    --text-color: #131112;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    max-width: 100%;
    overflow-x: hidden;
    color: var(--hero-text-color);
}

header{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-image:linear-gradient(var(--gradient-color), var(--gradient-color)), url('./assets/hero-pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--hero-text-color);  
}

footer{
    text-align: right;
}

p{
    width: 90%;
}

header h1{
    font-size: 5em;
    
    margin-top: 0;
    margin-bottom: 0.5em;

    color: var(--hero-text-color);
}

.hero-inner .btn{
    display: block;
    width: 200px;

    padding: 1em;
    margin-top: 50px;

    border: 3px solid var(--hero-text-color);

    margin-left: auto;
    margin-right: auto;

    color: var(--hero-text-color);
    text-decoration: none;
    font-size: 1.5em;

    border-radius: 20px;

    background-color: var(--button-color);
}

.section{
    display: flex;
    height: 100vh;
}

.btn:hover{
    background-color: var(--highlight-color);
}

.half-section{
    width: 50%;
    height: 100%;
    max-width: 50vw;
    max-height: 100vh;
}

.text-box{
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    size: 1em;
}

.logo{
    max-width: 10vw;
    margin: 1vw;
}

.image-box{
    background-color: white;
}

#about{
    background-color: var(--highlight-color);
}

#projects{
    background-color: var(--button-color);
}

#contact{
    background-color: var(--highlight-color);
}

@media only screen and (max-width: 768px) {
    header{
        background-size: auto 100vh;
    }

    .section{
        flex-direction: column;
    }

    .half-section{
        width: 100%;
        height: 50%;
        max-width: 100vw;
        max-height: 50vh;
    }

    .text-box{
        overflow: scroll;
    }

    .logo{
        max-width: 20vw;
        margin: 1vw;
    }
}